
.header{
  width: 100%;
}




.slider__container{
  width: 100%;


  .slider__item{
    width: 546px;
    text-align: center;
    align-items: center;


    .slider__img{
      width: 100%;
    }


  }


}