
.header{
  width: 100%;
}




.slider__container{
  width: 546px;


  .slider__item{
    width: 546px;
    text-align: center;
    align-items: center;
    background: red;
    .slider__img{
      width: 56px;
    }

    img{
      width: 546px;
    }

  }


}